<!-- Template containing the form  -->
{% extends "base.html" %}
{% block content %}
    <p>
        Please input a location to find the weather and an artwork that matches it. Please replace any spaces in the name with underscores or a period.
    </p>
    <form action='{{url_for("results_page")}}' method="post">
        <p>
            <label for="name">Place: </label>
            <input type="text" id="place" name="user_location">
            <label for="name">Units: </label>
            <select id="units" name="unit">
                <option value="us">Fahrenheit</option>
                <option value="metric">Celcius</option>
                <option value="base">Kelvin</option>
        </p>
        {# </p>
            <label for="number">Number of results</label><br>
            <input type="number" id="max_results" name="user_results">
        </p>
        </p>
            <label for="number">Search Radius </label><br>
            <input type="number" id="radius" name="user_radius">
        </p>
        <p>
            <input type="checkbox" name="sort" id="form_sort">
            <label for="form_sort">Sort results</label>
        </p>
        <p><input type="submit" value="SUBMIT"></p> #}
    </form>
{% endblock %}
